*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


## My own additions :
## gitignore for my old java Eclipse folder (workspace)


.classpath
.settings
.metadata
#*.zip
#*.pdf
#*.docx
#*.doc
*.xml
*.class
*.project
**/handouts*


#all bin folders
**bin/
**Rarhi/


!GIT Commands.docx

## for new sts based java projects
RemoteSystemsTempFiles
.recommenders
Servers